[Unit]
Description=Tilt Hydrometer reporter
After=multi-user.target

[Service]
Type=idle
Environment=PYTILT_CONN_STR='<Azure IOT Connection String>'
ExecStart=/usr/bin/python /home/pi/pytilt/pytilt.py > /home/pi/pytilt.log 2>&1

[Install]
WantedBy=multi-user.target